{% extends 'base.html.twig' %}

{% block body %}
<!--begin::Container-->
<div id="kt_zone_container" class="fs-7 p-1">
    <!--begin::About card-->
    <div class="card p-5 border">

    <button class="modal__close fs-1 text-strong" aria-label="Close modal" data-micromodal-close></button>
        
        <h4>Ajout d'une zone</h4>
		<!--begin::Body-->
        {# templates/dashboard/add-contenu.html.twig #}
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="pb-5">
                {{ form_row(form.page)}}
            </div>
            <div class="pb-5">
                {{ form_row(form.libelle)}}
            </div>
            <div>
                {{ form_row(form.url)}}
                <p class="text-secondary fs-9">Il faut respecter le format d'une url (ex: "/nom1/nom2")</p>
            </div>
            <div class="d-flex flex-row-reverse">
                {{ form_row(form.save, {'label' : 'Valider'})}}
                {# <a class="modal__close btn btn-danger fs-7 p-3 m-1">Retour</a> #}
            </div>

        {{ form_rest(form) }} 
        <!--end::Body-->
    </div>
    <!--end::About card-->
</div>
<!--end::Container-->
{% endblock %}


{% block scripts %}
    <script>
        {# var line = new ProgressBar.Line("#progressbar", {
            strokeWidth: 2,
            easing: 'easeInOut',
            duration: 5000,
            color: '#FFEA82',
            trailColor: '#eee',
            trailWidth: 1,
            svgStyle: {width: '100%', height: '100%'},
            from: {color: '#FFEA82'},
            to: {color: '#ED6A5A'},
            step: (state, bar) => {
              bar.path.setAttribute('stroke', state.color);
            }
        });
        line.animate(1.0); #}
    </script>
{% endblock %}