{% extends 'index.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/assets/datatables/media/css/jquery.dataTables.min.css">
{% endblock %}

{% block contenu %}
<!--begin::Container-->
<div id="kt_content_container" class="container">
    <!--begin::About card-->
    <div class="card p-10">
		<!--begin::Body-->
        <div class="d-flex justify-content-between mb-3">
            <h4>Liste des zones</h4>
            <a class="modal-open-add btn btn-success p-2"><i class="fas fa-plus"></i> Ajouter</a>
        </div>

        <!--begin::Datatable-->
        <table id="liste_zone" class="display w-100">
            <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Page</th>
                    <th>URL</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for zone in zones %}
                <tr>
                    <td><input value="{{zone.libelle}}" class="edit_zone_libelle border-0 bg-transparent" readonly/></td>
                    <td><input value="{{zone.page}}" class="edit_zone_page font-weight-bold border-0 bg-transparent" readonly/></td>
                    <td><input value="{{zone.url}}" class="edit_zone_url border-0 bg-transparent" readonly/></td>
                    <td>
                        <a class="btn btn-sm btn-secondary btn-edit" data-id="{{zone.id}}"><i class="fas fa-edit"></i></a>
                        <a class="d-none btn btn-sm btn-success btn-edit-confirm" data-id="{{zone.id}}"><i class="fas fa-check"></i></a>
                        <a class="d-none btn btn-sm btn-warning btn-edit-annule mr-2" data-id="{{zone.id}}"><i class="fas fa-times"></i></a>
                        <p class="d-none text-warning fs-9 col-12">Modification en cours</p>
                        <a class="btn btn-sm btn-danger btn-delete" data-id="{{zone.id}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <!--end::Datatable-->
        </table>
        <!--end::Body-->
    </div>
    <!--end::About card-->
</div>
<!--end::Container-->

{% include './objects/modal.html.twig' with {'modal_path':'/zone/add', 'modal_height':'483', 'action': 'add'} %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="/assets/datatables/media/js/jquery.dataTables.min.js"></script>
    <script>
        // Datatables
        $(document).ready( function () {

            $('#liste_zone').DataTable({
                responsive: true,
                dom: "<'d-flex justify-content-between'<'row'l><'row'f>><bottom <'row float-end mt-5'p>>",
                "info": false,
                "columns": [
                    { "width": "25%" },
                    { "width": "25%" },
                    { "width": "35%" },
                    { "width": "15%" }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}