{% extends 'index.html.twig' %}

{% block contenu %}
<!--begin::Container-->
<div class="container" id="kt_content_container">
    <!--begin::About card-->
    <div class="card p-10">
		<!--begin::Body-->
        <div class="d-flex justify-content-between mb-3">
            <h4>Liste des contenus</h4>
        </div>
        <!--begin::Datatable-->
        <table id="liste_contenu" class="display w-100">
            <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Langue</th>
                    <th>Type</th>
                    <th>Slug</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if contenus is empty %}
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">Tableau vide !</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                {% endif %}
                {% for contenu in contenus %}
                <tr>
                    <td data-search="{{contenu.categorie_libelle}}"><input value="{{contenu.categorie_libelle}}" class="border-0 bg-transparent w-100" readonly/></td>
                    <td><input value="{{contenu.langue}}" class=" border-0 bg-transparent font-weight-bold w-100" readonly/></td>
                    <td>{% for type in contenu.type %}<span {% if type == "titre" %}class="edit_categorie_champ badge badge-dark"{% elseif type == "illustration" %}class="edit_categorie_champ badge badge-info"{% else %}class="edit_categorie_champ badge badge-secondary"{% endif %}>{{type|capitalize}}</span> {% endfor %}</td>
                    <td><input value="{{contenu.slug}}" class="border-0 bg-transparent font-weight-bold w-100" readonly/></td>
                    <td>
                        <a href="{{ path('contenu_edit',{'id':contenu.id})}}" class="btn btn-sm btn-secondary btn-edit"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger btn-delete" data-id="{{contenu.id}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <!--end::Datatable-->
        </table>
        <!--end::Body-->
    </div>
    <!--end::About card-->
</div>
<!--end::Container-->


{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="/assets/datatables/media/js/jquery.dataTables.min.js"></script>
    <script>
        // Datatables
        $(document).ready( function () {

            $('#liste_contenu').DataTable({
                responsive: true,
                dom: "<'d-flex justify-content-between'<'row'l><'row'f>><bottom <'row float-end mt-5'p>>",
                "info": false,
                "columns": [
                    { "width": "20%" },
                    { "width": "5%" },
                    { "width": "30%" },
                    { "width": "35%" },
                    { "width": "10%" },
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}